@import url("//hello.myfonts.net/count/409c4c");

/* This is my main CSS file for the final web portfolio project - MTM6201_010 - Web Development II */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================================================================== */
/* ============= Final Project - Web Portfolio by Mark Daniels ============= */
/* ================================================================================== */

/* Loading fonts */

@font-face {
	font-family: "LDPacardo-Thin";
	src: url('../webFonts/LDPacardoThin/font.woff2') format('woff2'), url('../webFonts/LDPacardoThin/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-Bold";
	src: url('../webFonts/LDPacardoBold/font.woff2') format('woff2'), url('../webFonts/LDPacardoBold/font.woff') format('woff');
  }

@font-face {
	font-family: "TheHandnature-Swash";
	src: url('../webFonts/TheHandnatureSwash/font.woff2') format('woff2'), url('../webFonts/TheHandnatureSwash/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-BoldItalic";
	src: url('../webFonts/LDPacardoBoldItalic/font.woff2') format('woff2'), url('../webFonts/LDPacardoBoldItalic/font.woff') format('woff');
  }

@font-face {
	font-family: "TheHandnature";
	src: url('../webFonts/TheHandnature/font.woff2') format('woff2'), url('../webFonts/TheHandnature/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-Regular";
	src: url('../webFonts/LDPacardoRegular/font.woff2') format('woff2'), url('../webFonts/LDPacardoRegular/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-ThinItalic";
	src: url('../webFonts/LDPacardoThinItalic/font.woff2') format('woff2'), url('../webFonts/LDPacardoThinItalic/font.woff') format('woff');
  }

@font-face {
	font-family: "TTTrailersVariable";
	src: url('../webFonts/TTTrailersVariable/font.woff2') format('woff2'), url('../webFonts/TTTrailersVariable/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-Italic";
	src: url('../webFonts/LDPacardoItalic/font.woff2') format('woff2'), url('../webFonts/LDPacardoItalic/font.woff') format('woff');
  }

.LDPacardoThin {
	font-family: "LDPacardo-Thin";
	}
.LDPacardoThinItalic {
	font-family: "LDPacardo-ThinItalic";
	}
.LDPacardoRegular {
	font-family: "LDPacardo-Regular";
	}
.LDPacardoItalic {
	font-family: "LDPacardo-Italic";
	}
.LDPacardoBold {
	font-family: "LDPacardo-Bold";
	}
.LDPacardoBoldItalic {
	font-family: "LDPacardo-BoldItalic";
	}
.TheHandnature {
	font-family: "TheHandnature";
	}
.TheHandnatureSwash {
	font-family: "TheHandnature-Swash";
	}
.TTTrailersVariable {
	font-family: "TTTrailersVariable";
	}


/* ********************************************************* */
/* *************** Mobile Styling Begins Here ************** */

p {
	font-family: "LDPacardo-Thin";
	color: #f2f2f2;
}

a {
    text-decoration: none;
}

body {
	background-color: #000;
}

.menubar li {
	padding: 5px;
}

header, footer {
	margin: 0 auto;
	background-color: #c0c0c0;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	font-family: "LDPacardo-Regular";
	font-size: 27px;
	color: #f2f2f2;
}

h2 {
	font-family: "LDPacardo-Regular";
	font-size: 24px;
	color: #f2f2f2;
}

h3 {
	font-family: "TheHandnature";
	font-size: 36px;
	color: #f2f2f2;
}

h4 {
	font-family: "TheHandnature-Swash";
	font-size: 144px;
	color: #f7b400;
}

html {
	min-width: 250px;
}


/* CSS code related to the skip links styling - start */

.skip-links{
	list-style: none;
	margin: 0;
	padding: 0;
  }

.skip-links a{
	position: absolute;
	top: -3em;
	background-color: black;
	color:white;
	padding: .5em 1em;
	font-weight: bold;
}
  
.skip-links a:focus{
	top: 0;
}
/* CSS code related to the skip links styling - end */


/* CSS code related to the main section sizing and styling - start */

.main-container {
	display: flex;
	flex-direction: column;
	background-color: #0a0a0d;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	align-self: center;
	height: 100%;
}
/* CSS code related to the main section sizing and styling - end */

/* CSS code related to the footer navigation styling - start */

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	flex-direction: column;
	list-style: none;
	text-align: center;
}

.footer-container ul li a {
  display: block;
  color: #473273;
  font-family: "LDPacardo-Regular";
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-container p {
	color: #473273;
	font-family: "LDPacardo-Regular";
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* CSS code related to the footer navigation styling - end */

/* CSS code related to the main navigation bar styling - start */

.header-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	flex-direction: column;
}
  
  .header-nav ul li {
	flex: 1;
	text-align: center;
}
  
.header-nav ul li a {
	display: block;
	color: #473273;
	font-family: "LDPacardo-Regular";
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* CSS code related to the main navigation bar styling - end */

/* CSS code related to the logo and hyperlink animations - start */

.animation-logo {
	transform: rotate(0deg);
  	transition: transform 1s;
	border-radius: 15px;
}

.animation-logo:hover {
	animation-name: rotate;
	transform: rotateY(180deg) scale(1.0);
	animation-duration: 1s;
	animation-delay: 0s;
	background-color: #f7b400;
}

.animation-logo:active {
  transform: rotate(180deg) translateX(25rem) rotate(180deg) scale(1.0);
  transition: 1s;
}

a:hover, button:hover {
	background-color: #f2f2f2;
}

a:active, button:active {
color: #271540;
background-color: #f7b400;
}

/* CSS code related to the logo animation - end */


/* CSS code related to the photography credits - Start */

.image-credit-wrapper {
	overflow: hidden;
	position: relative;
}
	
.image-credit-wrapper .image-credit {
	position: absolute;
	right: 0px;
	bottom: 4px;
}

.image-credit {
	background: rgba(0,0,0,.7);
	color: #ccc;
	display: inline-block;
	font-size: 8px;
	font-family: helvetica;
	font-weight: 300;
	padding: 5px 8px;
	position: absolute;
	bottom: 0;
	right: 0;
}
/* CSS code related to the photography credits - End */



/* *************** Mobile Styling Ends Here *************** */
/* ******************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Tablet Styling Begins Here *************** */

@media screen and (min-width: 600px) {

	h1 {
		font-size: 36px;
	}
	
	h2 {
		font-size: 27px;
	}
	
	h3 {
		font-size: 72px;
	}

	h4 {
		font-size: 144px;
	}
	
	.main-container {
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
	}

	.animation-logo:active {
		transform: rotate(180deg) translateX(40rem) rotate(180deg) scale(1.1);
		transition: 1.5s;
	}

/* Container holding the image and the text */
.welcome-container {
	position: relative;
	text-align: center;
	color: white;
  }
 
/* Middle left text */  
.middle-left {
	position: absolute;
	top: 20%;
	left: 20%;
  }
 
/* Middle right text */  
.middle-right {
	position: absolute;
	top: 20%;
	right: 20%;
  }

/* "By Mark Daniels" text placement */
.MD-signature {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

/* "By Mark Daniels" underline swash placement */  
.MD-signature-swash {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
/* Centered text */
.centered-img {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  }


} /* Tablet media screen bracket ends here */

/* **************** Tablet Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Desktop Styling Begins Here *************** */

@media screen and (min-width: 992px) {

	h1 {
		font-size: 72px;
	}
	
	h2 {
		font-size: 44px;
	}
	
	h3 {
		font-size: 144px;
	}

	h4 {
		font-size: 144px;
	}

	.animation-logo:active {
		transform: rotate(180deg) translateX(65rem) rotate(180deg) scale(1.1);
		transition: 2s;
	}

	/* Container holding the image and the text */
	.welcome-container {
		position: relative;
		text-align: center;
		color: white;
	}
 
	/* Middle left text */  
	.middle-left {
		position: absolute;
		top: 16%;
		left: 38%;
	}
	
	/* Middle right text */  
	.middle-right {
		position: absolute;
		top: 16%;
		right: 38%;
	}

	/* "By Mark Daniels" text placement */
	.MD-signature {
		position: absolute;
		top: 16%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* "By Mark Daniels" underline swash placement */  
	.MD-signature-swash {
		position: absolute;
		top: 16%;
		left: 48%;
		transform: translate(-50%, -50%);
	}
	
	/* Centered text */
	.centered-img {
		position: absolute;
		top: 8%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.main-nav ul {
		display: grid;
		grid-template-columns: repeat(16, auto);
		grid-template-rows: repeat(4, 20px);
		column-gap: 12px;
	}

	.main-nav ul li:nth-child(1) {
		grid-column: 4;
		grid-row: 1;
	}

	.main-nav ul li:nth-child(2) {
		grid-column: 9;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(3) {
		grid-column: 10;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(4) {
		grid-column: 11;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(5) {
		grid-column: 12;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(6) {
		grid-column: 13;
		grid-row: 2/3;
	}

	.footer-nav ul {
		display: grid;
		grid-template-columns: repeat(16, auto);
		grid-template-rows: repeat(4, 30px);
		column-gap: 12px;
	}

	.footer-nav ul li:nth-child(1) {
		grid-column: 4;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(2) {
		grid-column: 5;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(3) {
		grid-column: 6;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(4) {
		grid-column: 8/9;
		grid-row: 1/2;
	}

	.footer-nav ul li:nth-child(5) {
		grid-column: 8/9;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(6) {
		grid-column: 13;
		grid-row: 3;
	}

	.about-container {
		display: grid;
		grid-template-columns: repeat(16, 111px);
		grid-template-rows: repeat(16, 40px);
		
	}

	.about-container:nth-child(1) {
		grid-column: 5/13;
		grid-row: 5/6;
	}

	.about-container:nth-child(2) {
		grid-column: 1/2;
		grid-row: 5/9;
	}

	.about-container:nth-child(3) {
		grid-column: 4/6;
		grid-row: 7/8;
	}

	.about-container:nth-child(4) {
		grid-column: 4/6;
		grid-row: 9;
	}

	.about-container:nth-child(5) {
		grid-column: 4/6;
		grid-row: 9;
	}

	.about-container:nth-child(6) {
		grid-column: 4/6;
		grid-row: 9;
	}

	.about-container:nth-child(7) {
		grid-column: 4/6;
		grid-row: 9;
	}

	.about-container:nth-child(8) {
		grid-column: 4/6;
		grid-row: 9;
	}

	.about-container:nth-child(9) {
		grid-column: 3/5;
		grid-row: 9;
	}

	.about-container:nth-child(10) {
		grid-column: 6/8;
		grid-row: 9;
	}

	.about-container:nth-child(11) {
		grid-column: 9/11;
		grid-row: 9;
	}

	.about-container:nth-child(12) {
		grid-column: 12/15;
		grid-row: 12/span 4;
	}

} /* Desktop media screen bracket ends here */

/* **************** Desktop Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Larger Desktop Styling Begins Here *************** */

@media screen and (min-width: 1366px) {


	/* Container holding the image and the text */
	.welcome-container {
		position: relative;
		text-align: center;
		color: white;
	}
 
	/* Middle left text */  
	.middle-left {
		position: absolute;
		top: 16%;
		left: 33%;
	}
	
	/* Middle right text */  
	.middle-right {
		position: absolute;
		top: 16%;
		right: 33%;
	}

	/* "By Mark Daniels" text placement */
	.MD-signature {
		position: absolute;
		top: 16%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* "By Mark Daniels" underline swash placement */  
	.MD-signature-swash {
		position: absolute;
		top: 16%;
		left: 48%;
		transform: translate(-50%, -50%);
	}
	
	/* Centered text */
	.centered-img {
		position: absolute;
		top: 8%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

} /* Larger desktop media screen bracket ends here */

/* **************** Larger Desktop Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ******************************************************************** */
/* *************** Extended Desktop Styling Begins Here *************** */

@media screen and (min-width: 1920px) {

	.animation-logo:active {
		transform: rotate(180deg) translateX(90rem) rotate(180deg) scale(1.1);
		transition: 2s;
	}

	.main-container {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}

	.main-container img {
		max-width: 100%;
	}

	/* Container holding the image and the text */
	.welcome-container {
		position: relative;
		text-align: center;
		color: white;
	}
 
	/* Middle left text */  
	.middle-left {
		position: absolute;
		top: 16%;
		left: 20%;
	}
	
	/* Middle right text */  
	.middle-right {
		position: absolute;
		top: 16%;
		right: 20%;
	}

	/* "By Mark Daniels" text placement */
	.MD-signature {
		position: absolute;
		top: 16%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* "By Mark Daniels" underline swash placement */  
	.MD-signature-swash {
		position: absolute;
		top: 16%;
		left: 45%;
		transform: translate(-50%, -50%);
	}
	
	/* Centered text */
	.centered-img {
		position: absolute;
		top: 8%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	

 } /* Extended Desktop media screen bracket ends here */


/* ******************************************************************** */
/* **************** Extended Desktop Styling Ends Here **************** */




/*  Comments... I love comments!  LOL  }:-)  */