@import url("//hello.myfonts.net/count/409c4c");

/* This is my main CSS file for the final web portfolio project - MTM6201_010 - Web Development II */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================================================================== */
/* ============= Final Project - Web Portfolio by Mark Daniels ============= */
/* ================================================================================== */

/* Marky Dee Fonts - Start */

@font-face {
	font-family: "LDPacardo-Thin";
	src: url('../webFonts/LDPacardoThin/font.woff2') format('woff2'), url('../webFonts/LDPacardoThin/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-Thin-Italic";
	src: url('../webFonts/LDPacardoThinItalic/font.woff2') format('woff2'), url('../webFonts/LDPacardoThinItalic/font.woff') format('woff');
  }

@font-face {
	font-family: "LDPacardo-Regular";
	src: url('../webFonts/LDPacardoRegular/font.woff2') format('woff2'), url('../webFonts/LDPacardoRegular/font.woff') format('woff');
  }

@font-face {
	font-family: "TheHandnature";
	src: url('../webFonts/TheHandnature/font.woff2') format('woff2'), url('../webFonts/TheHandnature/font.woff') format('woff');
  }

@font-face {
	font-family: "TheHandnature-Swash";
	src: url('../webFonts/TheHandnatureSwash/font.woff2') format('woff2'), url('../webFonts/TheHandnatureSwash/font.woff') format('woff');
  }

/*
@font-face {
	font-family: "LDColarino-Type18";
	src: url('../webFonts/LDColarinoType18/font.woff2') format('woff2'), url('../webFonts/LDColarinoType18/font.woff') format('woff');
  }

@font-face {
	font-family: "LDColarino-Type19";
	src: url('../webFonts/LDColarinoType19/font.woff2') format('woff2'), url('../webFonts/LDColarinoType19/font.woff') format('woff');
  }

@font-face {
	font-family: "LDColarino-Type27";
	src: url('../webFonts/LDColarinoType27/font.woff2') format('woff2'), url('../webFonts/LDColarinoType27/font.woff') format('woff');
  }
*/


/*  */
@font-face {
	font-family: "LDColarino-Type18";
	src: url('../fonts/Type18.otf');
  }

@font-face {
	font-family: "LDColarino-Type19";
	src: url('../fonts/Type19.otf');
  }

@font-face {
	font-family: "LDColarino-Type21";
	src: url('../fonts/Type21.otf');
  }

@font-face {
	font-family: "LDColarino-Type27";
	src: url('../fonts/Type27.otf');
  }

  /* Marky Dee Fonts - End */


  
/* ********************************************************* */
/* *************** Mobile Styling Begins Here ************** */

p {
	font-family: "LDPacardo-Thin";
	color: #f2f2f2;
	font-size: 16px;
}

a {
    flex: 1;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease-out;
}

body {
	background-color: #000;
}

.menubar li {
	padding: 5px;
}

header, footer {
	margin: 0 auto;
	background-color: #c0c0c0;
	margin: 0 auto;
}

h1 {
	font-family: "LDPacardo-Regular";
	font-size: 32px;
	color: #f2f2f2;
}

h2 {
	font-family: "LDColarino-Type27";
	font-size: 24px;
	color: #f2f2f2;
}

h3 {
	font-family: "TheHandnature";
	font-size: 36px;
	color: #f2f2f2;
}

h4 {
	font-family: "TheHandnature-Swash";
	font-size: 24px;
	color: #f7b400;
}

h5 {
	font-family: "LDColarino-Type21";
	font-size: 28px;
	color: #f2f2f2;
}

h6 {
	font-family: "LDColarino-Type27";
	font-size: 28px;
	color: #473273;
}

.contact-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#MD-signature {
	font-size: 72px;
}

#MD-signature-swash {
	font-size: 72px;
}

blockquote {
	color: #f7b400;
	font-family: "LDPacardo-Thin-Italic";
	font-size: 28px;
}

#testing-colarino {
	font-family: "LDColarino-Type27";
	font-size: 24px;
}

html {
	min-width: 350px;
}

.header-nav .current {
	color: #656f8c;
}

.blog-page-container {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* CSS code related to the skip links styling - start */

.skip-links{
	list-style: none;
	margin: 0;
	padding: 0;
  }

.skip-links a{
	position: absolute;
	top: -3em;
	background-color: #271540;
	color: black;
	padding: .5em 1em;
	font-weight: bold;
}
  
.skip-links a:focus{
	top: 0;
}
/* CSS code related to the skip links styling - end */


/* CSS code related to the main section sizing and styling - start */

.main-container {
	display: flex;
	flex-direction: column;
	background-color: #0a0a0d;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	align-self: center;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 0px;
}
/* CSS code related to the main section sizing and styling - end */


/* CSS code related to the footer navigation styling - start */

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	flex-direction: column;
	list-style: none;
	text-align: center;
}

.footer-container ul li a {
  display: block;
  color: #473273;
  font-family: "LDPacardo-Regular";
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-container p {
	color: #473273;
	font-family: "LDPacardo-Regular";
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* CSS code related to the footer navigation styling - end */

/* CSS code related to the main navigation bar styling - start */

.header-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	flex-direction: column;
}
  
  .header-nav ul li {
	flex: 1;
	text-align: center;
}
  
.header-nav ul li a {
	display: block;
	color: #473273;
	font-family: "LDPacardo-Regular";
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* CSS code related to the main navigation bar styling - end */

/* CSS code related to the logo and hyperlink animations - start */

.animation-logo {
	transform: rotate(0deg);
  	transition: transform 1s;
	border-radius: 15px;
}

.animation-logo:hover {
	animation-name: rotate;
	transform: rotateY(180deg) scale(1.0);
	animation-duration: 1s;
	animation-delay: 0s;
	background-color: #f7b400;
}

.animation-logo:active {
  transform: rotate(180deg) translateX(25rem) rotate(180deg) scale(1.0);
  transition: 1s;
}

a:hover, a:focus, button:hover, button:focus {
	background-color: #f2f2f2;
	border-radius: 5px;
}

a:active, button:active {
color: #271540;
background-color: #f7b400;
border-radius: 5px;
}

/* CSS code related to the logo animation - end */

/* CSS code related to the Marky Dee Signature Swash Animation - Start */

#MD-signature-swash-animation {
	opacity: 0;
}

#MD-signature-swash-animation {
	animation-name: swash-opacity;
	animation-duration: 3s;
	animation-delay: 1s;
	transition: easeInCubic 0.4s; 
  	animation-fill-mode: forwards;  
}

@keyframes swash-opacity {
	from {opacity: 0%;}
	to {opacity: 100%;}
  }
/* CSS code related to the Marky Dee Signature Swash Animation - End */


/* CSS code related to the Contact Page container - Start */

/* CSS code related to contact_us.html - start */

.contact-form {
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-self: center;
	justify-self: center;
}

.contact-container form input,
form textarea {
  	display: block;
  	width: 250px;
  	margin-bottom: 1rem;
  	padding: .5rem 1rem;
  	color: #271540;
	font-family: "LDPacardo-Thin";
}

.contact-container form textarea {
  	height: 80px;
  	resize: none;
  	color: #271540;
	font-family: "LDPacardo-Thin";
}

.contact-container form button {
  	background: none;
  	background-color: #473273;
  	border: 3px solid black;
  	padding: 1rem;
  	text-transform: uppercase;
  	color: #FFF;
	font-family: "LDPacardo-Thin";
	border-radius: 5px;
	font-size: 14px;
}

.contact-container form {
	border-style: none;
  	border-width: 1px;
  	border-color: black;
	margin: 5px;
	padding: 10px;
	padding-top: 0px;
	color: #FFF;
	font-family: "LDPacardo-Thin";
 }

.form-flexbox{
	display: flex;
	justify-content: space-evenly;
  }
  
.owner {
	display: flex;
	flex-direction: column;
	color: #f2f2f2;
	font-family: "LDPacardo-Thin";
	justify-content: space-between;
  }

.contact-section {
	display: flex;
	flex-direction: column;
	font-family: "LDPacardo-Thin";
	line-height: 150%;
	justify-content: space-between;
}
 
.owner h5 {
	align-self: center;
	padding-top: 10px;
	padding-bottom: 10px;
  }

.contact-section h5 {
	align-self: center;
	padding-top: 10px;
	padding-bottom: 10px;
  }
  
.google-maps-element {
	padding-left: 2%;
  }
  
.owner-contact-items {
	font-family: "LDPacardo-Thin";
	font-size: 18px;
  }

.owner-contact-items a {
	color: #271540;
	font-family: "LDPacardo-Thin";
	font-size: 18px;
  }

.owner-contact-items li {
	padding-top: 5px;
  	padding-bottom: 5px;
  }

.main-content-contact {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	line-height: 150%;
  }
  
.main-content-contact h5, p {
	padding: 5px;
	align-self: center;
	justify-self: center;
	line-height: 150%;
  }

.contact-container {
	max-width: 1200px;
}

.contact-container address {
	font-size: 18px;
	line-height: 150%;
  }

.contact-section button:hover, button:focus {
	background-color: #f2f2f2;
	color: #473273;
	border-radius: 5px;
}

.contact-section button:active {
color: #271540;
background-color: #f7b400;
border-radius: 5px;
}

.contact-grid-container {
		width: 100%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color:#656f8c;
	}

@media screen and (min-width: 845px) {

  .contact-grid-container {
    display: grid;
    width: 100%;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }

  .contact-container {
	  width: 80%;
  }

}

/* CSS code related to contact_us.html - end */

/* CSS code related to the Contact Page container - End */


/* CSS code related to the photography credits - Start */

.image-credit-wrapper {
	overflow: hidden;
	position: relative;
}
	
.image-credit-wrapper .image-credit {
	position: absolute;
	right: 0px;
	bottom: 4px;
}

.image-credit {
	background: rgba(0,0,0,.7);
	color: #ccc;
	display: inline-block;
	font-size: 8px;
	font-family: helvetica;
	font-weight: 300;
	padding: 5px 8px;
	position: absolute;
	bottom: 0;
	right: 0;
}
/* CSS code related to the photography credits - End */


/* CSS code related to the About Page Containers - Start */

.about-intro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
}

/* =============== My Story Timeline - Mobile =============== */

.my-timeline-container img {
	width: 100%;
	height: 100%;
}

.my-timeline-container  {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	gap: 1em;
}

/* CSS code related to the About Page Containers - End */

/* =============== My Services - Mobile =============== */

.my-services-container img {
	width: 100%;
	height: 100%;
}

.my-services-container  {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	gap: 1em;
}
/* CSS code related to My Services - End */


/* =============== My Work Portfolio Samples - Mobile =============== */

.my-work-samples-container img {
	width: 100%;
	height: 100%;
}

.my-work-samples-container  {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	gap: 1em;
}
/* CSS code related to My Work Samples Containers - End */

.about-grid-container {
	display: grid;
	width: 95%;
	margin: 0 auto;
	padding: 0 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

#side-profile-pic {
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
}

@media screen and (min-width: 600px) {
  .about-grid-container {
    display: grid;
    width: 100%;
    align-self: center;
    grid-template-columns: 30% 60%;
    grid-template-rows: repeat(3, auto);
    gap: 1em;
  }

  #side-profile-pic {
	  	grid-column: 1;
	  	grid-row: 1 / span 3;
	  	align-self: center;
	  	justify-self: center;
  }

  #about-grid-rightside-1 {
	  	grid-column: 2;
	  	grid-row: 1;
	  	align-self: center;
	  	justify-self: center;
  }

  #about-grid-rightside-2 {
		grid-column: 2;
		grid-row: 2;
		align-self: center;
		justify-self: center;
	}

#about-grid-rightside-3 {
		grid-column: 2;
		grid-row: 3;
		align-self: center;
	  	justify-self: center;
	}

}

.contact-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 300px;
}

/* *************** Mobile Styling Ends Here *************** */
/* ******************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Tablet Styling Begins Here *************** */

@media screen and (min-width: 601px) {

	h1 {
		font-family: "LDPacardo-Regular";
		color: #f2f2f2;
		font-size: 36px;
	}
	
	h2 {
		font-family: "LDColarino-Type19";
		font-size: 28px;
	}
	
	h3 {
		font-size: 72px;
	}

	h4 {
		font-size: 144px;
	}
	
	.main-container {
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.animation-logo:active {
		transform: rotate(180deg) translateX(40rem) rotate(180deg) scale(1.1);
		transition: 1.5s;
	}


/* Container holding the image and the text */
.welcome-container {
	position: relative;
	text-align: center;
	color: white;
  }
 
/* Middle left text */  
.middle-left {
	position: absolute;
	top: 20%;
	left: 20%;
  }
 
/* Middle right text */  
.middle-right {
	position: absolute;
	top: 20%;
	right: 20%;
  }

/* "By Mark Daniels" text placement */
.MD-signature {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

/* "By Mark Daniels" underline swash placement */  
.MD-signature-swash {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
/* Centered text */
.centered-img {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

/* =============== My Story Timeline - Tablet =============== */

.my-timeline-container img {
	width: 100%;
	height: 100%;
}

.my-timeline-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
/* CSS code related to the About Page Containers - End */

/* =============== My Services - Tablet =============== */

.my-services-container img {
	width: 100%;
	height: 100%;
}

.my-services-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
/* CSS code related to My Services - End */

/* =============== My Work Portfolio Samples - Tablet =============== */

.my-work-samples-container img {
	width: 100%;
	height: 100%;
}

.my-work-samples-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
/* CSS code related to My Work Samples Containers - End */


} /* Tablet media screen bracket ends here */

/* **************** Tablet Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Desktop Styling Begins Here *************** */

@media screen and (min-width: 993px) {

	p {
		font-family: "LDPacardo-Thin";
		color: #f2f2f2;
		font-size: 20px;
	}
	
	h1 {
		font-size: 72px;
	}
	
	h2 {
		font-family: "LDColarino-Type27";
		font-size: 44px;
	}
	
	h3 {
		font-size: 144px;
	}

	h4 {
		font-size: 144px;
	}

	h5 {
		font-family: "LDColarino-Type21";
		font-size: 28px;
		color: #f2f2f2;
	}
	
	h6 {
		font-family: "LDColarino-Type27";
		font-size: 36px;
		color: #473273;
	}
	
	#MD-signature {
		font-size: 72px;
	}
	
	#MD-signature-swash {
		font-size: 72px;
	}

	blockquote {
		color: #f7b400;
		font-family: "LDPacardo-Thin-Italic";
		font-size: 36px;
	}

	header, footer {
		padding: 10px;
	}

	.animation-logo:active {
		transform: rotate(180deg) translateX(65rem) rotate(180deg) scale(1.1);
		transition: 2s;
	}

	/* Container holding the image and the text */
	.welcome-container {
		position: relative;
		text-align: center;
		color: white;
	}
 
	/* Middle left text */  
	.middle-left {
		position: absolute;
		top: 16%;
		left: 37.5%;
	}
	
	/* Middle right text */  
	.middle-right {
		position: absolute;
		top: 16%;
		right: 37.5%;
	}

	/* "By Mark Daniels" text placement */
	.MD-signature {
		position: absolute;
		top: 16%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* "By Mark Daniels" underline swash placement */  
	.MD-signature-swash {
		position: absolute;
		top: 16%;
		left: 48%;
		transform: translate(-50%, -50%);
	}
	
	/* Centered text */
	.centered-img {
		position: absolute;
		top: 8%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.main-nav ul {
		display: grid;
		grid-template-columns: repeat(16, auto);
		grid-template-rows: repeat(4, 20px);
		column-gap: 12px;
	}

	.main-nav ul li:nth-child(1) {
		grid-column: 4;
		grid-row: 1;
	}

	.main-nav ul li:nth-child(2) {
		grid-column: 9;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(3) {
		grid-column: 10;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(4) {
		grid-column: 11;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(5) {
		grid-column: 12;
		grid-row: 2/3;
	}

	.main-nav ul li:nth-child(6) {
		grid-column: 13;
		grid-row: 2/3;
	}

	.footer-nav ul {
		display: grid;
		grid-template-columns: repeat(16, auto);
		grid-template-rows: repeat(5, 30px);
		column-gap: 12px;
	}

	.footer-nav ul li:nth-child(1) {
		grid-column: 2;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(2) {
		grid-column: 3;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(3) {
		grid-column: 4;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(4) {
		grid-column: 8/9;
		grid-row: 1/2;
	}

	.footer-nav ul li:nth-child(5) {
		grid-column: 8/9;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(6) {
		grid-column: 11;
		grid-row: 3;
	}

	.footer-nav ul li:nth-child(7) {
		grid-column: 12 / span 4;
		grid-row: 3;
	}


/* CSS code related to the About Page Containers - Start */

/* =============== My Story Timeline - Desktop =============== */

.my-timeline-container img {
	width: 100%;
	height: 100%;
}

.my-timeline-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
}
/* CSS code related to the About Page Containers - End */

/* =============== My Services - Desktop =============== */

.my-services-container img {
	width: 100%;
	height: 100%;
}

.my-services-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
}

/* CSS code related to My Services Containers - End */


/* =============== My Work Portfolio Samples - Desktop =============== */

.my-work-samples-container img {
	width: 100%;
	height: 100%;
}

.my-work-samples-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
}

/* CSS code related to My Work Portfolio Samples Containers - End */



} /* Desktop media screen bracket ends here */

/* **************** Desktop Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ******************************************************************** */
/* *************** Extended Desktop Styling Begins Here *************** */

@media screen and (min-width: 1920px) {

	h1 {
		font-size: 72px;
	}
	
	h2 {
		font-family: "LDColarino-Type19";
		font-size: 44px;
	}
	
	h3 {
		font-size: 108px;
	}

	h4 {
		font-size: 108px;
	}

	.animation-logo:active {
		transform: rotate(180deg) translateX(90rem) rotate(180deg) scale(1.1);
		transition: 2s;
	}

	.main-container {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.main-container img {
		max-width: 100%;
	}

	/* Container holding the image and the text */
	.welcome-container {
		position: relative;
		text-align: center;
		color: white;
	}
 
	/* Middle left text */  
	.middle-left {
		position: absolute;
		top: 16%;
		left: 25%;
	}
	
	/* Middle right text */  
	.middle-right {
		position: absolute;
		top: 16%;
		right: 25%;
	}

	/* "By Mark Daniels" text placement */
	.MD-signature {
		position: absolute;
		top: 18%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* "By Mark Daniels" underline swash placement */  
	.MD-signature-swash {
		position: absolute;
		top: 18%;
		left: 47%;
		transform: translate(-50%, -50%);
	}
	
	/* Centered text */
	.centered-img {
		position: absolute;
		top: 8%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	/* =============== My Story Timeline - Extended Desktop =============== */

	.my-timeline-container img {
		width: 100%;
		height: 100%;
	}

	.my-timeline-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, auto);
		justify-items: center;
		gap: 1em;
	}

	.FamilyPortrait {
		grid-column: 1;
		grid-row: 1;
		align-self:flex-start;
	}

	.YoungsterCrying {
		grid-column: 2;
		grid-row: 1;
		align-self: stretch;
	}

	.FirstWeekSchool {
		grid-column: 3;
		grid-row: 1;
		align-self: stretch;
	}

	.LegoCNTower {
		grid-column: 4;
		grid-row: 1;
		align-self: stretch;
	}
	/* CSS code related to the About Page Containers - End */


	/* =============== My Services - Extended Desktop =============== */

	.my-services-container img {
		width: 100%;
		height: 100%;
	}

	.my-services-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		justify-items: center;
		gap: 1em;
	}

	/* CSS code related to My Services Containers - End */


	/* =============== My Work Portfolio Samples - Extended Desktop =============== */

	.my-work-samples-container img {
		width: 100%;
		height: 100%;
	}

	.my-work-samples-container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, auto);
		justify-items: center;
		gap: 1em;
	}

	/* CSS code related to My Work Samples Containers - End */

 } /* Extended Desktop media screen bracket ends here */


/* ******************************************************************** */
/* **************** Extended Desktop Styling Ends Here **************** */




/*  Comments... I love comments!  LOL  }:-)  */